@use 'styles/vars';
@use 'styles/mixins' as *;

$padding: 3.4rem;

.header__searchbar {
    position: relative;
    z-index: 10;

    @include breakpoint(sm) {
        order: 3;      
        width: 100%;            
    }


    input {
        background-color: vars.$c-gray-container;
        border: 1px solid vars.$c-white;
        border-radius: 50px;
        padding: .8rem $padding;
        color: vars.$c-white;
        width: 100%;

        &.onError {
            border-color: tomato !important;
        }

        &:hover {
            cursor: pointer;
        }

        &::placeholder {
            color: vars.$c-gray-text-container;
        }

        &:focus {
            border-color: vars.$c-main;
        }
    }

    .loupe {
        position: absolute;
        top: 50%;
        left: calc($padding / 3);
        transform: translate(0, -50%);
    }


}