@use 'styles/vars';
@use 'styles/mixins' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: vars.$s-double;

    @include breakpoint(sm) {
        flex-direction: column;                  
    }

    &__localisation {
        display: flex;
        align-items: center;

        @include breakpoint(sm) {
            order: 2;
            margin: vars.$s-default 0;
            // align-self: flex-start;         
        }

        &__pin {
            margin-right: vars.$s-default;
        }

        &__text {
            .main {
                color: vars.$c-white;

                span {
                    font-weight: 300;
                }
            }
        }
    }
}