@use '../../styles/vars';
@use '../../styles/mixins' as *;



.main-card {
    border: solid vars.$s-glass transparent;
    // border-image-source: linear-gradient(135deg, rgba(255, 255, 255, .6), rgba(255, 255, 255, .1));
    border-radius: 15px;
    grid-column: 1 / span 4;
    grid-row: 1 / span 4;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;

    @include breakpoint(sm) {
        grid-column: 1 / span 10;
        grid-row: 1 / span 2;               
    }

    &__top {
        display: flex;
        justify-content: space-between;

        &__infos {
            text-align: right;
            max-width: 60%;

            p.temperature {
                font-size: 4rem;
                font-weight: 500;
                margin-bottom: vars.$s-default;

                @include breakpoint(lt-sm) {
                    font-size: 3rem;
                    margin-bottom: .5rem;
                }
            }

            p.weather {
                font-size: 2.6rem;
                font-weight: 300;
            }
        }
    }

    &__bot {
        display: flex;
        justify-content: space-between;
        font-size: 2.2rem;

        p.feeling {
            font-weight: 300;
        }

        p.temperature-feeled {

        }
    }

}